@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

html,
body {
  @apply h-full bg-gray-700;
}

.text-main {
  @apply text-green-500 border-green-500;
}

.text-reverse {
  @apply text-gray-800 border-gray-800;
}

.text-light {
  @apply text-green-200 border-green-200;
}

.registration-input-error-label {
  @apply text-lg text-red-500 font-semibold mt-1 pt-1;
}

.registration-input {
  @apply border-2 bg-white bg-opacity-0 text-xl py-1 px-2 w-5/6 font-semibold  mt-4 outline-none;
}

.reg-button {
  @apply mt-4 bg-green-500 py-2 px-6 text-black w-4/6 text-xl mx-auto font-semibold rounded-lg;
}

.btn {
  @apply text-xl outline-none;
}

.btn-main {
  @apply bg-green-500 text-gray-900 font-medium shadow-sm rounded-lg w-4/6 py-3 mt-6 mx-auto text-2xl;
}

.btn-utility {
  @apply text-gray-700 text-xl outline-none mt-4;
}

.form-main {
  @apply grid grid-cols-1 place-content-center w-10/12 mt-16 py-6 rounded-lg mx-auto max-w-screen-sm bg-gray-900;
}

.bg-active {
  transition: opacity 1s easy-in-out;
  opacity: 0;

  @apply top-0 left-0 w-full h-full z-20 hidden cursor-pointer;
}

.bg-active-open {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  @apply bg-black fixed block;
}

.pop-up-menu-cords {
  top: 7%;
}

.b-0 {
  bottom: 0;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
