<button ...attributes data-test-checkbox type="button"
    class="material-icons w-10 h-8 border-4 border-black text-xl focus:outline-none"
    {{on "click" (stop-propagation this.toggleDone)}}>{{if this.isActive "done"}}</button>