<div class="w-full overflow-scroll pt-4">
    {{#each @model.buckets as |bucket|}}
    <BucketContainer @bucket={{bucket}} />
    {{/each}}

    {{#each @model.collections as |collection|}}
    <CollectionContainer @collection={{collection}} />
    {{/each}}
</div>