<div class="w-full overflow-scroll pt-4">
    {{#each @model.buckets as |bucket|}}
    <BucketContainer data-test-containers-box="bucket" @bucket={{bucket}} />
    {{/each}}

    {{#each @model.collections as |collection|}}
    <CollectionContainer data-test-containers-box="collection" @collection={{collection}} />
    {{/each}}
</div>