<section data-test-edit-user-main>
    <EditUserMain::Navigation data-test-edit-user-main-navigation />

    <UserForm data-test-edit-user-main-user-form @changeset={{changeset @user this.EditUserValidations}} />
</section>