<h1 data-test-none-list-menu-text class="text-2xl text-center mt-16 mb-8 mx-8 font-bold text-gray-300">Nie utworzyłeś
    jeszcze żadnej listy
    zadań
    do wykonania!</h1>
<LinkTo data-test-none-list-menu-link
    class="text-2xl font-extrabold bg-green-600 rounded-lg py-4 w-64 mt-16 mx-auto px-12 hover:bg-green-400"
    @route="user.collections.collection.lists.new">UTWÓRZ LISTĘ</LinkTo>