<div class="flex bg-gray-900 text-main text-xl w-full py-2 px-4">
    <div class="w-1/6 text-left">
        {{!-- side menu --}}
    </div>
    <div class="w-4/6 text-center">
        {{@label}}
    </div>
    <div class="w-1/6 text-right">
        {{yield}}
    </div>
</div>