<section class="profile-main-details" data-test-profile-main-details-wrapper>
    <img data-test-profile-main-details-img class="avatar-img"
        src={{if @user.avatarUrl @user.avatarUrl "/assets/images/profile-img.jpg"}} alt="user avatar">

    <h3 data-test-profile-main-details-email class="email-label">{{@user.email}}</h3>
</section>

{{yield}}