<section data-test-profile-main-operation-links-wrapper class="profile-main-operation-links">
    <LinkTo data-test-profile-main-operation-links-edit @route="user.edit" class="link edit">Edytuj</LinkTo>
    <LinkTo data-test-profile-main-operation-links-delete @route="user.delete" class="link delete">Usuń</LinkTo>
</section>