<p data-test-form="redirection" class="text-center mt-4 text-lg">
  {{@infoText}}
  <br>
  <LinkTo data-test-form="redirection-link" class="text-gray-700 text-xl inline-block border-b-2 border-gray-700"
    @route={{@route}}>
    {{@linkText}}
  </LinkTo>
</p>