<p data-test-form="redirection" class="text-center mt-4 text-lg">
  {{@infoText}}
  <br>
  <LinkTo ...attributes data-test-form="redirection-link" class="text-xl inline-block border-b-2" @route={{@route}}>
    {{@linkText}}
  </LinkTo>
</p>