<h1>Collections</h1>

<ul>
    {{#each this.model.buckets as |bucket|}}
    <li>
        <h3>Bucket: {{bucket.title}}</h3>
        <ul>
            {{#each bucket.collections as |collection|}}
            <li>
                <span>Collection: {{collection.title}}</span>
            </li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>

<ul>
    {{#each this.model.collections as |collection|}}
    <li>
        <span>Collection: {{collection.title}}</span>
    </li>
    {{/each}}
</ul>

{{outlet}}